@import 'var';

.contact-section {
    color: #222;

    .wrapper {
        display: grid;
        grid-template-columns: 38.438em 1fr;
        background-color: #f2f2f2;

        .location {        
            padding: 7.5em 0;
            margin: 0 auto;
            text-align: center;

            h2 {
                font: 1.5em $john;
            }

            .address {
                font: 1.375em $amble;
                font-weight: 300;
                max-width: 12.375em;
                margin: 2em 0;
                font-style: italic;
                line-height: 2.5em;
            }

            .social-buttons {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {  
                    transform: scale(.8);
                }
            }
        }

        .contact-section__form {
            background-color: #e4e4e4;
            padding: 7.5em;
            display: grid;
            grid-template-columns: repeat(2, 40%);
            grid-gap: 3.75em;
            padding-right: 0;

            input {
                border: none;
                border-bottom: 2px solid #afafaf;
                background-color: transparent;
                outline: none;
                font: 1.125rem $amble;
                font-style: italic;
                color: #676767;
                padding-left: 1em;

                &::-webkit-input-placeholder {
                    color: #676767;
                }
            }

            input[type=text] {
                grid-column: 1 / 2;
            }

            input[type=email] {
                grid-column: 2 / 3;
            }

            input[type=password] {
                grid-column: 1 / 3;
            }

            .send-button {
                grid-column: 2 / 3;

                button {
                    padding: 1.3em 4em;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            
            .contact-section__form {
                padding: 10%;

                input {
                    grid-column: 1 / 3 !important;
                }
            }
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }
}